html,
body {
  background: #333;
  color: white;
  padding: 0px;
  margin: 0px;
  font-family: 'Lato', sans-serif;
}

#header {
  background: white;
  color: #333;
  background: url("../img/logo.png") center center no-repeat #fff;
  line-height: 84px;

  height: 84px;
  border-bottom: 3px solid black;
}
h1 {
  text-align: center;
  margin-top: 0px;
}
#genericwebformfortheinterwebs {
  float: left;
  width: 500px;
  margin: 20px 30px;
  border: white 0px solid;
  padding: 20px;
  border-radius: 20px;
  background: url("../img/background.png") center top no-repeat;
  color: #333;
  text-align: right;

}
#genericwebformfortheinterwebs input {
  width: 100px;
  margin-left: 20px;
}
.gobutton {
  width: 80%;
  margin: 0px auto;
  height: 50px;
  background: white;
  color: #333;
  border: 2px #333 solid;
  border-radius: 5px;
  font-size: 25px;
}
#apology {
  float: right;
  width: 1200px;
  height: 675px;
  background: black;
  margin-bottom: 100px;
}

#footer {
  background: rgba(0,0,0,0.5);
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 20px 0px;
  text-align: center;
  color: white;
}
#footer a {
  color: white;
}
